<div>
    <p>  Hi <%=user.name%>,</p>
    <br>
    <br>
     <p>We got a message that you forgot your password. </p>
     <p>If this was you, you can get right back into your account or reset your password now.</p>
     <br>
     <br>    
  
  <a href="http://localhost:8000/users/reset-pass/?accessToken=<%=token%>">Click here to Reset Password</a>
  
  </div>