<!-- footer Partial -->
<link rel="stylesheet" href="/css/footer.css">

<footer id="things">
    <div id="copyrights">
        <p>© Shreyas Ingale. All Rights Reserved</p>
    </div>
    <div id="nav">
        <a href="/">Home</a>
        <% if(locals.user) { %>
            <a href="/users/profile/<%= user.id %>">Profile</a>
        <% } else { %>
            <a href="/users/sign-in">Profile</a>
        <% } %>
    </div>
</footer>