<!-- footer Partial -->

<footer  id="things">
    <div id="copyrights">
        <p>© Shreyas Ingale. All Rights Reserved</p>
    </div>
    <div id="nav">
        <a href="/">Home</a>
        <a href="/users/profile">Profile</a>
    </div>
</footer>