<link rel="stylesheet" href="/css/user.css">

<div class="form form-p">
    <h1>Sign Up</h1>

    <form action="sign-up/create" method="post" autocomplete="off">
        <input type="text" name="name" id="name" placeholder="Enter Name" required>
        <input type="email" name="email" id="email" placeholder="Enter Email" required>
        <input type="password" name="password" id="password" placeholder="Enter Password" required>
        <input type="password" name="confirm_password" id="confirm-password" placeholder="Confirm Password" required>
        <input type="submit" value="Sign Up">
    </form>

    <p>
        <a href="/users/auth/google">Log-In using Google</a>
    </p>
</div>