<!-- deleted everything else except this line since that content will be filld by layout -->
<link rel="stylesheet" href="/css/user.css">
    <a href="/">
        <h1>Codeial : User - <%= title %></h1>
    </a>

    <p><%= user.name %></p>
    <p><%= user.email %></p>
    
