#home-container {
    display: flex;

    ul {
        padding: 0;
        list-style: none;
    }

    #feed-posts {
        width: 70%;
        padding: 10px;

        #posts-container {
            a {
                color: #ff0000;
                text-decoration: none;
                outline: none;

                &:hover {
                    color: #ae0101;
                }
            }
        }
    }

    #aside-list {
        width: 30%;
        display: flex;
        flex-direction: column;
        flex: 1;
        padding: 10px;
        border-left: 1px solid lightgray;

        #friends {
            min-height: 50%;
            border-bottom: 1px solid lightgrey;
        }

        #list-container {
            a {
                color: #206af3;
                text-decoration: none;
                outline: none;

                &:hover {
                    color: #03286d;
                }
            }
        }
    }

}