#nav-bar {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #155cdf;
  color: white;
  width: 100%;
}
#nav-bar p {
  margin-left: 10px;
  font-size: 1.4rem;
  font-weight: bolder;
}
#nav-bar ul {
  margin-right: 10px;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}
#nav-bar ul li {
  padding: 0 5px;
}
#nav-bar ul li:first-child {
  border-right: 1px solid white;
}
#nav-bar ul li:last-child {
  border-left: 1px solid white;
}
#nav-bar ul a {
  color: white;
  text-decoration: none;
  outline: none;
}
#nav-bar ul a:hover {
  color: rgba(255, 255, 255, 0.751);
}
