#nav-bar {
  max-height: 8vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #155cdf;
  color: white;
  padding: 0 10px;
}
#nav-bar #nav-title p {
  font-size: 1.4rem;
  font-weight: bolder;
}
#nav-bar ul {
  display: flex;
  align-items: center;
  list-style: none;
}
#nav-bar ul li {
  padding: 0 5px;
}
#nav-bar ul li:first-child {
  border-right: 1px solid white;
}
#nav-bar ul li:last-child {
  border-left: 1px solid white;
}
#nav-bar ul a {
  color: white;
  text-decoration: none;
  outline: none;
}
#nav-bar ul a:hover {
  color: rgba(255, 255, 255, 0.751);
}
