#home-container {
  display: flex;
}
#home-container ul {
  padding: 0;
  list-style: none;
}
#home-container #feed-posts {
  width: 70%;
  padding: 10px;
}
#home-container #feed-posts #new-post-form {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 75%;
  margin: 5px 0 5px 110px;
  padding: 10px;
  gap: 5px;
}
#home-container #feed-posts #new-post-form #text-area {
  height: 20vh;
  border: none;
  font-size: 1rem;
  line-height: 1.4rem;
  word-spacing: -0.2rem;
  border-bottom: 1px solid lightgray;
}
#home-container #feed-posts #new-post-form #text-area:focus {
  outline: none;
}
#home-container #feed-posts #new-post-form input {
  background-color: #206af3;
  color: white;
  align-self: end;
  width: max-content;
  margin: 0 4px 3px 0;
  padding: 5px 15px;
  cursor: pointer;
  border: none;
  box-shadow: 0 0 1px 1px #206af3;
}
#home-container #feed-posts #new-post-form input:focus {
  outline: none;
  scale: 0.98;
}
#home-container #feed-posts #posts-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 75%;
  margin: 5px auto;
}
#home-container #feed-posts #posts-container li {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
  margin: 10px auto;
  padding: 10px;
  background-color: white;
}
#home-container #feed-posts #posts-container li a {
  text-decoration: none;
  outline: none;
}
#home-container #feed-posts #posts-container li a:focus {
  outline: none;
  scale: 0.98;
}
#home-container #feed-posts #posts-container li .post-user {
  display: flex;
  justify-self: left;
  align-items: center;
  margin: 5px;
  position: relative;
}
#home-container #feed-posts #posts-container li .post-user .profile-info {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: start;
  margin-left: 10px;
}
#home-container #feed-posts #posts-container li .post-user .profile-info p {
  margin-top: 0px;
  font-size: 1.1rem;
}
#home-container #feed-posts #posts-container li .post-user .profile-info .time {
  margin-top: -15px;
  font-size: 0.8rem;
  color: gray;
}
#home-container #feed-posts #posts-container li .post-user .del-btn {
  position: absolute;
  top: 5px;
  left: 610px;
  background-color: #e31414;
  padding: 5px 8px;
}
#home-container #feed-posts #posts-container li .post-user .del-btn:hover {
  background-color: rgba(227, 20, 20, 0.7843137255);
}
#home-container #feed-posts #posts-container li .post-user .del-btn a {
  color: white;
}
#home-container #feed-posts #posts-container li .post-content {
  text-align: start;
  font-size: 1.1rem;
  border-bottom: 1px solid lightgray;
  width: 98%;
  margin: 5px;
  padding: 5px 0;
}
#home-container #feed-posts #posts-container li .post-actions {
  text-align: start;
  font-size: 0.9rem;
  margin: 0 0 5px 5px;
  padding: 0;
  border-bottom: 1px solid lightgray;
  width: 98%;
}
#home-container #feed-posts #posts-container li .post-actions a {
  color: gray;
}
#home-container #feed-posts #posts-container li .post-comments {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 100%;
  margin: 10px 0;
}
#home-container #feed-posts #posts-container li .post-comments form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  gap: 2px;
}
#home-container #feed-posts #posts-container li .post-comments form .comment-input {
  width: 98%;
  border-radius: 0;
  border: 1px solid grey;
  padding: 5px;
}
#home-container #feed-posts #posts-container li .post-comments form .comment-submit {
  width: max-content;
  align-self: start;
  background-color: #206af3;
  color: white;
  padding: 5px 10px;
  border: none;
  outline: none;
  cursor: pointer;
}
#home-container #feed-posts #posts-container li .post-comments form .comment-submit:hover {
  background-color: #0a5cf4;
}
#home-container #feed-posts #posts-container li .post-comments form .comment-submit:focus {
  outline: none;
  scale: 0.98;
}
#home-container #feed-posts #posts-container li .post-comments .comments-container {
  width: 100%;
  margin: 1px 0;
}
#home-container #feed-posts #posts-container li .post-comments .comments-container ul {
  width: 100%;
}
#home-container #feed-posts #posts-container li .post-comments .comments-container ul li {
  width: 90%;
  background-color: aliceblue;
}
#home-container #feed-posts #posts-container li .post-comments .comments-container ul li .comment-user {
  display: flex;
  justify-self: left;
  align-items: center;
  position: relative;
}
#home-container #feed-posts #posts-container li .post-comments .comments-container ul li .comment-user .cmt-profile-info {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: start;
  margin-left: 10px;
}
#home-container #feed-posts #posts-container li .post-comments .comments-container ul li .comment-user .cmt-profile-info p {
  margin-top: 0px;
  font-size: 1rem;
}
#home-container #feed-posts #posts-container li .post-comments .comments-container ul li .comment-user .cmt-profile-info .cmt-time {
  margin-top: -15px;
  font-size: 0.7rem;
  color: gray;
}
#home-container #feed-posts #posts-container li .post-comments .comments-container ul li .comment-user .cmt-del-btn {
  position: absolute;
  top: 0px;
  left: 560px;
  background-color: #e31414;
  padding: 5px 8px;
}
#home-container #feed-posts #posts-container li .post-comments .comments-container ul li .comment-user .cmt-del-btn:hover {
  background-color: rgba(227, 20, 20, 0.7843137255);
}
#home-container #feed-posts #posts-container li .post-comments .comments-container ul li .comment-user .cmt-del-btn a {
  color: white;
}
#home-container #feed-posts #posts-container li .post-comments .comments-container ul li .comment-actions {
  margin-left: 60px;
  margin-bottom: 2px;
}
#home-container #feed-posts #posts-container li .post-comments .comments-container ul li .comment-actions a {
  color: gray;
}
#home-container #feed-posts #posts-container li .post-comments .comments-container ul li .comment-content {
  text-align: start;
  width: 100%;
  border-top: 1px solid lightgrey;
}
#home-container #aside-list {
  width: 30%;
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 10px;
  border-left: 1px solid lightgray;
}
#home-container #aside-list #friends {
  height: max-content;
}
#home-container #aside-list .list-container li {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 10px;
  padding: 10px 0 10px 15px;
  border-bottom: 1px solid gray;
}
#home-container #aside-list .list-container li a {
  margin-bottom: 30px;
  color: #206af3;
  text-decoration: none;
  outline: none;
  font-size: 1.5rem;
}
#home-container #aside-list .list-container li a:hover {
  color: #03286d;
}
