body {
    margin: 0;
    text-align: center;
    background-color: cadetblue;
    color: white;
}

ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-left: -40px;
    gap: 10px;
}

a{
    color: white;
    text-decoration: none;
}

a:hover{
    color: rgba(255, 255, 255, 0.751);
}